.contact-section {
    .form-input {
        height: 60px;

    }

    .form-textarea {
        height: 86px;

        @include media-breakpoint-down(lg) {
            height: 210px;
        }
    }

    input,
    textarea {
        &::placeholder {
            color: $color-FFFAF6 !important;
        }
    }

    .custom-checkbox {
        input[type="checkbox"] {
            display: none;

            &:checked+label:before {
                background-color: $color-FFFAF6;
                border: 0px !important;
            }

            &:checked+label:after {
                display: block;
            }
        }

        label {
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding-left: 40px;

            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                left: 0;
                top: -5px;
                width: 24px;
                height: 24px;
                border: 1px solid $color-FFFAF6;
                background-color: transparent;
                border-radius: 4px;
            }

            &::after {
                content: '';
                display: none;
                position: absolute;
                left: 7px;
                top: -3px;
                width: 9px;
                height: 14px;
                border: solid $color-2C2924;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }
}

.select2 {
    width: 100% !important;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    z-index: 99999;
    cursor: pointer;

    &.select2-container--open {
        .categories-select2 {
            top: -2px;
            border-radius: $radius-3;

            @include media-breakpoint-down(lg) {
                top: -1px;
            }

            .select2-results {
                .select2-results__options {
                    .select2-results__option--selectable {
                        background-color: transparent;

                        &.select2-results__option--highlighted {
                            background-color: rgba($color: $color-2C2924, $alpha: 0.03);
                        }
                    }
                }
            }
        }

        .select2-selection--single {
            background-color: $color-F2F0EC !important;
        }

        .select2-selection__arrow {
            transform: rotate(180deg) !important;
        }
    }

    .selection {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        position: relative;
        vertical-align: middle;
        z-index: 10;
        cursor: pointer;

        .select2-selection--single {
            display: inline-block;
            border-radius: 0;
            width: 100%;

            .select2-selection__arrow {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 27px;
                width: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: url('http://localhost/rfw/wp-content/uploads/2024/05/drop-down.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;

                b {
                    display: none;
                }
            }
        }
    }
}

.select2-search--dropdown {
    display: block;
}

.select2-search--dropdown.select2-search--hide {
    display: none;
}

.select2-results {
    display: block;
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categories-select {
    .select2-container {
        .select2-selection--single {
            border: 0px;
            background-color: rgba($color: $color-2C2924, $alpha: 0.03);
            padding: 25px 11px 25px 0px;
            height: 64px;
            display: flex;
            align-items: center;
            border-top-left-radius: $radius-3 !important;
            border-top-right-radius: $radius-3 !important;

            .select2-selection__rendered {
                -webkit-box-orient: vertical;
                display: -webkit-box !important;
                overflow: hidden;
                padding-left: 24px;
                width: 80% !important;

                .select2-selection__placeholder {
                    font: 400 $font-15 "URWClassico" !important;
                    color: $color-2C2924 !important;
                }
            }

            .select2-selection__arrow {
                right: 18px;
            }
        }
    }
}

.categories-select2 {
    background-color: $color-F2F0EC;
    display: inline-block;
    height: 100px;
    overflow-y: auto;
    border: 0px;
    border-top: 0px;

    .select2-results__option {
        padding: 6px 24px 6px 24px;
        font: 400 $font-15 "URWClassico" !important;
        color: $color-2C2924 !important;
    }

    .select2-results__options {
        .select2-results__option {
            @include generate-transition(all, 400ms, ease);

            &:hover {
                background-color: rgba($color: $white, $alpha: 0.08);
            }
        }
    }
}

.wpcf7-response-output {
    color: $color-2C2924 !important;
}
