.contact-section {
    .form-input {
        height: 60px;

    }

    .form-textarea {
        height: 86px;

        @include media-breakpoint-down(lg) {
            height: 210px;
        }
    }

    input,
    textarea {
        &::placeholder {
            color: $color-FFFAF6 !important;
        }
    }

    .custom-checkbox {
        input[type="checkbox"] {
            display: none;

            &:checked+label:before {
                background-color: $color-FFFAF6;
                border: 0px !important;
            }

            &:checked+label:after {
                display: block;
            }
        }

        label {
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding-left: 30px;

            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                left: 0;
                top: -5px;
                width: 24px;
                height: 24px;
                border: 1px solid $color-FFFAF6;
                background-color: transparent;
                border-radius: 4px;
            }

            &::after {
                content: '';
                display: none;
                position: absolute;
                left: 7px;
                top: -3px;
                width: 9px;
                height: 14px;
                border: solid $color-2C2924;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }
}