.related-slider {
    .slick-list {
        margin-left: -8px;
        margin-right: -8px;

        @include media-breakpoint-down(sm) {
            overflow: visible;
        }

        .slick-slide {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

.single-product-slider,
.single-product-group,
.instagram-slider {
    div {
        height: 100%;
    }
}

.single-product-group {
    .slick-list {
        margin-left: -4px;
        margin-right: -4px;

        @include media-breakpoint-down(lg) {
            overflow: visible;
            margin-left: -2px;
            margin-right: -2px;
        }

        .slick-slide {
            padding-left: 4px;
            padding-right: 4px;

            @include media-breakpoint-down(lg) {
                padding-left: 2px;
                padding-right: 2px;
            }
        }
    }
}

.instagram-slider {
    .slick-list {
        margin-left: -6px;
        margin-right: -6px;

        @include media-breakpoint-down(lg) {
            margin-left: -3px;
            margin-right: -3px;
        }

        .slick-slide {
            padding-left: 6px;
            padding-right: 6px;

            @include media-breakpoint-down(lg) {
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    }
}