.tabs-navigation{
    top: 200px;
    background-color: rgba($color: $color-FFFAF6, $alpha: 0.1);
    li{
        &:last-child{
            margin-bottom: 0 !important;
        }
        &.active{
            background-color: $color-BDA673;
        }
    }
}
.invoice-info{
    background-color: rgba($color: $color-FFFAF6, $alpha: 0.1);
    padding-left: 45px;
    padding-right: 65px;
    @include media-breakpoint-down(lg){
        padding-left: 25px;
        padding-right: 20px;
    }
}
.payment-info{
    background-color: rgba($color: $color-FFFAF6, $alpha: 0.1);
    .payment-row{
        border-bottom: 1px solid rgba($color: $white, $alpha: 0.17);
        &:first-child{
            padding-top: 0 !important;
        }
    }
}   
.supplier-item{
    &:last-child{
        margin-bottom: 0 !important;
    }
    .supplier-social{
        .supplier-social-item{
            background-color: rgba($color: $white, $alpha: 0.1);
            height: 40px;
            width: 40px;
            &:last-child{
                margin-right: 0 !important;
            }
        }
    }
}
.review-star{
    width: 23px;
    @include media-breakpoint-down(lg){
        width: 37px;
    }
}