// text color
.text-BDA673 {
    color: $color-BDA673;
}

.text-8B6E3D {
    color: $color-8B6E3D;
}

.text-2D4232 {
    color: $color-2D4232;
}

.text-2C2924 {
    color: $color-2C2924;
}

.text-FFFAF6 {
    color: $color-FFFAF6;
}

.text-141414 {
    color: $color-141414;
}

.text-EBEBEB {
    color: $color-EBEBEB;
}

.text-EFEFEF {
    color: $color-EFEFEF;
}

.text-707070 {
    color: $color-707070;
}

.text-F2F0EC {
    color: $color-F2F0EC;
}

.text-36332D {
    color: $color-36332D;
}

.text-312D27 {
    color: $color-312D27;
}

.text-707070 {
    color: $color-707070;
}

.text-3C3C3C {
    color: $color-3C3C3C;
}

.text-0298D8 {
    color: $color-0298D8;
}

.text-FFFAF5 {
    color: $color-FFFAF5;
}

// background color
.bg-BDA673 {
    background-color: $color-BDA673;
}

.bg-8B6E3D {
    background-color: $color-8B6E3D;
}

.bg-2D4232 {
    background-color: $color-2D4232;
}

.bg-2C2924 {
    background-color: $color-2C2924;
}

.bg-FFFAF6 {
    background-color: $color-FFFAF6;
}

.bg-141414 {
    background-color: $color-141414;
}

.bg-EBEBEB {
    background-color: $color-EBEBEB;
}

.bg-EFEFEF {
    background-color: $color-EFEFEF;
}

.bg-707070 {
    background-color: $color-707070;
}

.bg-F2F0EC {
    background-color: $color-F2F0EC;
}

.bg-36332D {
    background-color: $color-36332D;
}

.bg-312D27 {
    background-color: $color-312D27;
}

.bg-4FAC00 {
    background-color: $color-4FAC00;
}

.bg-AC0000 {
    background-color: $color-AC0000;
}

.bg-707070 {
    background-color: $color-707070;
}

.bg-3C3C3C {
    background-color: $color-3C3C3C;
}

.bg-0298D8 {
    background-color: $color-0298D8;
}

.bg-FFFAF5 {
    background-color: $color-FFFAF5;
}


// font size
.font-10 {
    font-size: $font-10;
}

.font-12 {
    font-size: $font-12;
}

.font-13 {
    font-size: $font-13;
}

.font-14 {
    font-size: $font-14;
}

.font-15 {
    font-size: $font-15;
}

.font-16 {
    font-size: $font-16;
}

.font-18 {
    font-size: $font-18;
}

.font-20 {
    font-size: $font-20;
}

.font-22 {
    font-size: $font-22;
}

.font-24 {
    font-size: $font-24;
}

.font-25 {
    font-size: $font-25;
}

.font-26 {
    font-size: $font-26;
}

.font-28 {
    font-size: $font-28;
}

.font-30 {
    font-size: $font-30;
}

.font-31 {
    font-size: $font-31;
}

.font-34 {
    font-size: $font-34;
}

.font-35 {
    font-size: $font-35;
}

.font-36 {
    font-size: $font-36;
}

.font-38 {
    font-size: $font-38;
}

.font-40 {
    font-size: $font-40;
}

.font-44 {
    font-size: $font-44;
}

.font-45 {
    font-size: $font-45;
}

.font-48 {
    font-size: $font-48;
}

.font-50 {
    font-size: $font-50;
}

.font-52 {
    font-size: $font-52;
}

.font-60 {
    font-size: $font-60;
}

.font-61 {
    font-size: $font-61;
}

.font-64 {
    font-size: $font-64;
}

.font-77 {
    font-size: $font-77;
}

.font-87 {
    font-size: $font-87;
}

.font-90 {
    font-size: $font-90;
}

.font-96 {
    font-size: $font-96;
}

.font-100 {
    font-size: $font-100;
}

.font-103 {
    font-size: $font-103;
}

.font-105 {
    font-size: $font-105;
}

.font-114 {
    font-size: $font-114;
}

.font-120 {
    font-size: $font-120;
}

.font-133 {
    font-size: $font-133;
}

.font-137 {
    font-size: $font-137;
}

.font-150 {
    font-size: $font-150;
}

// leading
.leading-16 {
    line-height: $Leading-16 !important;
}

.leading-20 {
    line-height: $Leading-20;
}

.leading-24 {
    line-height: $Leading-24;
}

.leading-26 {
    line-height: $Leading-26;
}

.leading-28 {
    line-height: $Leading-28;
}

.leading-30 {
    line-height: $Leading-30;
}

.leading-40 {
    line-height: $Leading-40;
}

.leading-42 {
    line-height: $Leading-42;
}

.leading-46 {
    line-height: $Leading-46;
}

.leading-56 {
    line-height: $Leading-56;
}

.leading-58 {
    line-height: $Leading-58;
}

.leading-63 {
    line-height: $Leading-63;
}

.leading-70 {
    line-height: $Leading-70;
}

.leading-98 {
    line-height: $Leading-98;
}

.leading-84 {
    line-height: $Leading-84;
}

.leading-90 {
    line-height: $Leading-90;
}

.leading-105 {
    line-height: $Leading-105;
}

.leading-120 {
    line-height: $Leading-120;
}

.leading-158 {
    line-height: $Leading-158;
}

.leading-174 {
    line-height: $Leading-174;
}

// letter spacing
.spacing-1 {
    letter-spacing: $space-1;
}

.spacing-1_2 {
    letter-spacing: $space-1_2;
}

.spacing-0_3 {
    letter-spacing: $space-0_3;
}

// radius
.radius-3 {
    border-radius: $radius-3;
}

.radius-5 {
    border-radius: $radius-5;
}

// border css
.border-EBEBEB {
    border: 2px solid $color-EBEBEB;
}

.border-top-EBEBEB {
    border-top: 2px solid $color-EBEBEB;
}

.border-bottom-EBEBEB {
    border-bottom: 2px solid $color-EBEBEB;
}

// opacity css

.opacity-20 {
    opacity: 20%;
}

.opacity-55 {
    opacity: 55%;
}

.opacity-52 {
    opacity: 52%;
}

.opacity-58 {
    opacity: 58%;
}

.opacity-72 {
    opacity: 72%;
}

@include media-breakpoint-down(lg) {

    .res-opacity-50 {
        opacity: 50%;
    }
    .res-bg-transparent {
        background-color: transparent !important;
    }

    // font size
    .res-font-10 {
        font-size: $font-10;
    }

    .res-font-12 {
        font-size: $font-12;
    }

    .res-font-13 {
        font-size: $font-13;
    }

    .res-font-14 {
        font-size: $font-14;
    }

    .res-font-15 {
        font-size: $font-15;
    }

    .res-font-16 {
        font-size: $font-16;
    }

    .res-font-18 {
        font-size: $font-18;
    }

    .res-font-20 {
        font-size: $font-20;
    }

    .res-font-22 {
        font-size: $font-22;
    }

    .res-font-24 {
        font-size: $font-24;
    }

    .res-font-25 {
        font-size: $font-25;
    }

    .res-font-26 {
        font-size: $font-26;
    }

    .res-font-28 {
        font-size: $font-28;
    }

    .res-font-30 {
        font-size: $font-30;
    }

    .res-font-31 {
        font-size: $font-31;
    }

    .res-font-34 {
        font-size: $font-34;
    }

    .res-font-35 {
        font-size: $font-35;
    }

    .res-font-36 {
        font-size: $font-36;
    }

    .res-font-38 {
        font-size: $font-38;
    }

    .res-font-40 {
        font-size: $font-40;
    }

    .res-font-44 {
        font-size: $font-44;
    }

    .res-font-45 {
        font-size: $font-45;
    }

    .res-font-48 {
        font-size: $font-48;
    }

    .res-font-50 {
        font-size: $font-50;
    }

    .res-font-52 {
        font-size: $font-52;
    }

    .res-font-60 {
        font-size: $font-60;
    }

    .res-font-61 {
        font-size: $font-61;
    }

    .res-font-64 {
        font-size: $font-64;
    }

    .res-font-77 {
        font-size: $font-77;
    }

    .res-font-87 {
        font-size: $font-87;
    }

    .res-font-90 {
        font-size: $font-90;
    }

    .res-font-96 {
        font-size: $font-96;
    }

    .res-font-100 {
        font-size: $font-100;
    }

    .res-font-103 {
        font-size: $font-103;
    }

    .res-font-105 {
        font-size: $font-105;
    }

    .res-font-114 {
        font-size: $font-114;
    }

    .res-font-120 {
        font-size: $font-120;
    }

    .res-font-133 {
        font-size: $font-133;
    }

    .res-font-137 {
        font-size: $font-137;
    }

    .res-font-150 {
        font-size: $font-150;
    }

    // leading
    .res-leading-16 {
        line-height: $Leading-16;
    }

    .res-leading-20 {
        line-height: $Leading-20;
    }

    .res-leading-24 {
        line-height: $Leading-24;
    }

    .res-leading-26 {
        line-height: $Leading-26;
    }

    .res-leading-28 {
        line-height: $Leading-28;
    }

    .res-leading-30 {
        line-height: $Leading-30;
    }

    .res-leading-40 {
        line-height: $Leading-40;
    }

    .res-leading-42 {
        line-height: $Leading-42;
    }

    .res-leading-46 {
        line-height: $Leading-46;
    }

    .res-leading-56 {
        line-height: $Leading-56;
    }

    .res-leading-58 {
        line-height: $Leading-58;
    }

    .res-leading-63 {
        line-height: $Leading-63;
    }

    .res-leading-70 {
        line-height: $Leading-70;
    }

    .res-leading-98 {
        line-height: $Leading-98;
    }

    .res-leading-84 {
        line-height: $Leading-84;
    }

    .res-leading-90 {
        line-height: $Leading-90;
    }

    .res-Leading-105 {
        line-height: $Leading-105;
    }

    .res-leading-120 {
        line-height: $Leading-120;
    }

    .res-leading-158 {
        line-height: $Leading-158;
    }

    .res-leading-174 {
        line-height: $Leading-174;
    }

    // letter spacing
    .res-spacing-1 {
        letter-spacing: $space-1;
    }

    .res-spacing-1_2 {
        letter-spacing: $space-1_2;
    }

    .res-spacing-0_3 {
        letter-spacing: $space-0_3;
    }
}