.activity-category,
.faq-category,
.supplier-category {

    .activity-button,
    .faq-button,
    .supplier-button {
        min-width: 131px !important;
        height: 37px;

        &:first-child {
            margin-left: 0px !important;
        }

        &.active {
            background-color: $color-2D4232 !important;
            color: $color-FFFAF6 !important;
        }
    }

    @include media-breakpoint-down(lg) {
        margin-left: 37px !important;
    }
}

.faq-category,.supplier-category {
    .faq-button,.supplier-button {
        background-color: rgba($color: $color-EBEBEB, $alpha: 0.1);

        &.active {
            background-color: $color-BDA673 !important;
        }
    }
}