.image-content {
    min-height: 745px;
    height: 100%;

    @include media-breakpoint-down(lg) {
        min-height: initial;
    }

    &.image-content-left {
        .row {
            @include media-breakpoint-down(lg) {
                flex-direction: column-reverse;
            }
        }
    }

    &.bgcream-content-img {
        background-color: transparent;

        .text {
            color: $color-2C2924;
        }

        .btns-row {
            a {
                height: 63px;

                &:nth-child(odd) {
                    background-color: $color-8B6E3D;
                    border: 1px solid $color-8B6E3D;
                    color: $color-FFFAF6;
                    margin-right: 16px;
                    &:hover{
                        background-color: $color-FFFAF6;
                        color: $color-8B6E3D;
                    }
                }

                &:nth-child(even) {
                    background-color: $color-FFFAF6;
                    border: 1px solid $color-8B6E3D;
                    color: $color-8B6E3D;
                    margin-right: 16px;
                    &:hover{
                        background-color: $color-8B6E3D;
                        color: $color-FFFAF6;
                    }
                }
            }
        }
    }

    &.bgblack-content-img {
        background-color: $color-2C2924;

        .text {
            color: $color-FFFAF6;
        }

        .btns-row {
            a {
                height: 63px;

                &:nth-child(odd) {
                    background-color: $color-8B6E3D;
                    border: 1px solid $color-8B6E3D;
                    color: $color-FFFAF6;
                    margin-right: 16px;
                    &:hover{
                        background-color: transparent;
                    }
                }

                &:nth-child(even) {
                    background-color: transparent;
                    border: 1px solid $color-FFFAF6;
                    color: $color-FFFAF6;
                    margin-right: 16px;
                    &:hover{
                        background-color: $color-FFFAF6;
                        color: $color-2C2924;
                    }
                }
            }
        }
    }

    &.bggold-content-img {
        background-color: $color-BDA673;

        .text {
            color: $color-FFFAF6;
        }

        .btns-row {
            a {
                height: 63px;

                &:nth-child(odd) {
                    background-color: $color-2C2924;
                    border: 1px solid $color-2C2924;
                    color: $color-FFFAF6;
                    margin-right: 16px;
                    &:hover{
                        background-color: transparent;
                        color: $color-FFFAF6;
                    }
                }

                &:nth-child(even) {
                    background-color: $color-FFFAF6;
                    border: 1px solid $color-FFFAF6;
                    color: $color-2C2924;
                    margin-right: 16px;
                    &:hover{
                        background-color: transparent;
                    }
                }
            }
        }
    }

    &.bgdarkgeen-content-img {
        background-color: $color-2D4232;

        .text {
            color: $color-FFFAF6;
        }

        .btns-row {
            a {
                height: 63px;

                &:nth-child(odd) {
                    background-color: $color-FFFAF6;
                    border: 1px solid $color-FFFAF6;
                    color: $color-2D4232;
                    margin-right: 16px;
                    &:hover{
                        background-color: transparent;
                        color: $color-FFFAF6;
                    }
                }

                &:nth-child(even) {
                    background-color: transparent;
                    border: 1px solid $color-FFFAF6;
                    color: $color-FFFAF6;
                    margin-right: 16px;
                    &:hover{
                        background-color: $color-FFFAF6;
                        color: $color-2D4232;
                    }
                }
            }
        }
    }


    .content-image {
        width: 50%;

        .slick-list {
            height: 100%;

            .slick-track {
                height: 100%;

                .slick-slide {
                    height: 100%;

                    div {
                        height: 100%;
                    }

                }
            }
        }

        @include media-breakpoint-down(lg) {
            width: 100% !important;
            height: 390px !important;
        }

    }

    .content-image-small {
        width: 40%;

        .slick-list {
            height: 100%;

            .slick-track {
                height: 100%;

                .slick-slide {
                    height: 100%;

                    div {
                        height: 100%;
                    }

                }
            }
        }

        @include media-breakpoint-down(lg) {
            width: 100% !important;
            height: 390px !important;
        }

    }
}

.details-content {
    @include media-breakpoint-up(lg) {
        min-height: 745px;
    }

    height: 100%;
}